.add-margins {
  margin: 30px;
}

.bookings-column {
  text-align: center;
  width: 50%;
}

.my-games-column {
  text-align: center;
  width: 50%;
}

.edit-offer-btn {
  color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.52);
  border-radius: 4px;
}

.my-game-card {
  display: flex;
  flex-grow: 1;
  height: 120px;
  margin: 10px 10px 10px 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  background-image: linear-gradient(to right, rgb(224, 213, 213), white);

  .img-div {

    height: 120px;
    width: 120px;
    min-width: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 10px 0 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 120px;
    }
  }

  .right-half {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .text-area {

      justify-content: space-around;
      align-items: end;
    }
  }

  .text-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;

    div {

      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        max-width: 50%;
        font-size: 16px;
        flex-wrap: wrap;
        margin: 0;
      }
    }
  }
}
