<button type="button" class="btn btn-ghost" data-bs-toggle="modal" data-bs-target="#commentModal" >
  <%= offer.user.username %>'s comment
  <%= render "comment_modal" %>
</button>
<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><%= @offer.user.username %>'s comment</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="white-space: pre-wrap;">
        <%= @offer.comment %>
      </div>
    </div>
  </div>
</div>
