<div class="banner" style="background-image: linear-gradient(rgba(255,100,0,1),rgba(255,100,0,1))">
  <div class="container">
    <h1>All games for rent</h1>
    <p>Change your life and play boardgames!</p>
    <a class="btn btn-primary add-game-button" href="#" >Add game</a>
  </div>
</div>
<div class="container">
  <% @games.each do |game| %>
    <div class="cards">
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2> <%= game.name %> </h2>
          <p> <%= game.description %> </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
