.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  float: right; /* Move search container to the right */
}

#search-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

#search-button {
  padding: 10px 20px;
  background-color: #0fa3b1;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#search-button:hover {
  background-color: #0056b3;
}
